<h2><%= @presentation.name %></h2>

<p>Location: <%= @presentation.location %></p>
<p>Audience: <%= @presentation.audience %></p>
<p>Start Time: <%= @presentation.start_time %></p>
<p>End Time: <%= @presentation.end_time %></p>
<p>Time Taken: <%= @presentation.time_taken %></p>
<p>Notes: <%= @presentation.notes %></p>
