<div class="container">
  <h4><%= @presentation.name %></h4>

  <% if @user.current_presentations.include? @presentation %>
    <%= link_to 'Run This Presentation', run_user_presentation_path(@user, @presentation), :class => "btn-large waves-effect waves-light orange darken-4" %>
  <% end %>

<table class="data-table bordered">
        <tbody>
          <tr>
            <td class="presentation-td">Location:</td>
            <td class="presentation-td"><%= @presentation.location %></td>
          </tr>
          <tr>
            <td class="presentation-td">Audience:</td>
            <td class="presentation-td"><%= @presentation.audience %></td>
          </tr>
          <tr>
            <td class="presentation-td">Start Time:</td>
            <td class="presentation-td"><%= @presentation.start %></td>
          </tr>
          <tr>
            <td class="presentation-td">End Time:</td>
            <td class="presentation-td"><%= @presentation.end %></td>
          </tr>
          <tr>
            <td class="presentation-td">Time Taken:</td>
            <td class="presentation-td"><%= @presentation.time_pretty %></td>
          </tr>
          <tr>
            <td class="presentation-td">Notes:</td>
            <td class="presentation-td"><%= @presentation.notes %></td>
          </tr>
        </tbody>
</table>
<%= link_to 'Return to Profile', user_path(@presentation.user), class: "something"%>

<% if @presentation.finished %>
<div class="">
  <br>
  <br>
  <h4>Presentation emotion overview</h4>
  <div class="row">
    <div class="col m5 s12">
      <h5 class="chart-title">Emotions</h5>
      <%= pie_chart      @pie_data, @options %>
    </div>
    <div class="col m5 s12">
      <h5 class="chart-title">Emotions Distribution (relative)</h5>
      <%= radar_chart          @radar_data, @options %>
    </div>
  </div>
  <div class="row">
    <br>
    <br>
    <h5 class="chart-title">Predominant Emotions (by time)</h5>
    <%= bar_chart          @bar_data, @options %>
  </div>
</div>
<br>
<br>
<h5 class="chart-title">All Emotions (by time)</h5>
<%= line_chart           @data, @options %>

  <br><br>
<% end %>
<br>
<br>
<div id="get-started" class="center">
  <h4>Ready to create a new presentation?</h4>
  <div>Our app is designed to make you life easier. Click below and we'll handle all the heavy lifting for you.</div>
  <br>
  <%= link_to 'Get Me Started', new_user_presentation_path(@user), :class => "btn-large waves-effect waves-light green darken-4" %>
</div>
<br>
</div>
