<div class="container">
  <h4><%= @presentation.name %></h4>

  <% if @user.current_presentations.include? @presentation %>
    <%= link_to 'Run This Presentation', run_user_presentation_path(@user, @presentation), :class => "btn-large waves-effect waves-light orange darken-4" %>
  <% end %>

<table class="data-table bordered">
        <tbody>
          <tr>
            <td class="presentation-td">Location:</td>
            <td class="presentation-td"><%= @presentation.location %></td>
          </tr>
          <tr>
            <td class="presentation-td">Audience:</td>
            <td class="presentation-td"><%= @presentation.audience %></td>
          </tr>
          <tr>
            <td class="presentation-td">Start Time:</td>
            <td class="presentation-td"><%= @presentation.start %></td>
          </tr>
          <tr>
            <td class="presentation-td">End Time:</td>
            <td class="presentation-td"><%= @presentation.end %></td>
          </tr>
          <tr>
            <td class="presentation-td">Time Taken:</td>
            <td class="presentation-td"><%= @presentation.time_pretty %></td>
          </tr>
          <tr>
            <td class="presentation-td">Notes:</td>
            <td class="presentation-td"><%= @presentation.notes %></td>
          </tr>
        </tbody>
</table>
<%= link_to 'Return to Index', user_path(@presentation.user), class: "something"%>

<div class="">
  <h2>Presentation emotion overview:</h2>
  <div class="row">
    <div class="col s6">
      <h2>Pie chart title:</h2>
      <%= pie_chart      @pie_data, @options %>
    </div>
    <div class="col s6">
      <h3> Radar chart</h3>
      <%= radar_chart          @radar_data, @options %>
    </div>
  </div>
  <div class="row">
    <%= bar_chart          @bar_data, @options %>
  </div>
</div>

<h3>Line chart</h3>
<%= line_chart           @data, @options %>
</div>
