<div class="container">
  <h4><%= @presentation.name %></h4>

  <% if @user.current_presentations.include? @presentation %>
    <%= link_to 'Run This Presentation', run_user_presentation_path(@user, @presentation) %>
  <% end %>

<table class="data-table bordered">
        <tbody>
          <tr>
            <td class="presentation-td">Location:</td>
            <td class="presentation-td"><%= @presentation.location %></td>
          </tr>
          <tr>
            <td class="presentation-td">Audience:</td>
            <td class="presentation-td"><%= @presentation.audience %></td>
          </tr>
          <tr>
            <td class="presentation-td">Start Time:</td>
            <td class="presentation-td"><%= @presentation.start_time %></td>
          </tr>
          <tr>
            <td class="presentation-td">End Time:</td>
            <td class="presentation-td"><%= @presentation.end_time %></td>
          </tr>
          <tr>
            <td class="presentation-td">Time Taken:</td>
            <td class="presentation-td"><%= @presentation.time_taken %></td>
          </tr>
          <tr>
            <td class="presentation-td">Notes:</td>
            <td class="presentation-td"><%= @presentation.notes %></td>
          </tr>
        </tbody>
</table>
<%= link_to 'Return to Index', user_path(@presentation.user), class: "something"%>

<%= line_chart           @data, @options %>
<%= bar_chart            @data, @options %>
<%= horizontal_bar_chart @data, @options %>
<%= radar_chart          @data, @options %>
<%= polar_area_chart     @data, @options %>
<%= pie_chart            @data, @options %>
<%= doughnut_chart       @data, @options %>
<%= bubble_chart         @data, @options %>
<%= scatter_chart        @data, @options %>
</div>
