<div class="container">
  <h3><%= @presentation.name %></h3>

  <% if @user.presentations.include? @presentation %>
    <%= link_to 'Run This Presentation', run_user_presentation_path(@user, @presentation) %>
  <% end %>

<p>Location: <%= @presentation.location %></p>
<p>Audience: <%= @presentation.audience %></p>
<p>Start Time: <%= @presentation.start_time %></p>
<p>End Time: <%= @presentation.end_time %></p>
<p>Time Taken: <%= @presentation.time_taken %></p>
<p>Notes: <%= @presentation.notes %></p>

<%= link_to 'Back', user_path(@presentation.user), class: "something"%>

</div>
