<div class="container">
  <h2>Register</h2>

<% if @errors %>
<ul>
  <% @errors.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<% if @errors %>
<ul>
  <% @errors.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= form_for :user, url: '/users' do |f| %>

  Username:
  <br>
  <div class="input-field offset-s3 col s6">
    <%= f.text_field :username %>
  </div>
  <br>
  Email:
  <br>
  <div class="input-field offset-s3 col s6">
    <%= f.text_field :email %>
  </div>
  <br>
  Organization:
  <br>
  <div class="input-field offset-s3 col s6">
    <%= f.text_field :organization %>
  </div>
  <br>
  Password:
  <br>
  <div class="input-field offset-s3 col s6">
    <%= f.password_field :password %>
  </div>
  <br>
  Password Confirmation:
  <br>
  <div class="input-field offset-s3 col s6">
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
  <%= f.submit 'Register', :class => "btn-large waves-effect waves-light green darken-4" %>

<% end %>
<br>
</div>
