<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EngageMe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="<%= 'landing-page' if controller.controller_name == 'home' %>">
    <nav class="black" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">EngageMe</a>
        <ul class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/new">Register</a></li>
            <li><a href="/login">Login</a></li>
          <% end %>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <% if logged_in? %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/new">Register</a></li>
            <li><a href="/login">Login</a></li>
          <% end %>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <main>
    <%= yield %>
  </main>
    <footer class="indigo darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Project Background</h5>
            <p class="grey-text text-lighten-4">This is a simple web application that I built while attending Dev Bootcamp's immersive full-stack web development program in NYC. My goal was to make it really easy to start interesting conversations by using Google Trends data.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Instragram</a></li>
            </ul>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container center">
        Site Template by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
  </body>
</html>
