<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EngageMe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="<%= 'landing-page' if controller.controller_name == 'home' %>">
    <nav class="black" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">EngageMe</a>
        <ul class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/new">Register</a></li>
            <li><a href="/login">Login</a></li>
          <% end %>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <% if logged_in? %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/new">Register</a></li>
            <li><a href="/login">Login</a></li>
          <% end %>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <main>
    <%= yield %>
  </main>
    <footer class="indigo darken-4">
      <div class="container">
        <div class="row">
          <br><br>
          <div class="center white-text">&copy; 2016, All Rights Reserved</div>
          <br>
        </div>
      </div>
    </footer>
  </body>
</html>
